@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src:
      url("../fonts/roboto.woff2") format("woff2"),
      url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src:
      url("../fonts/robotobold.woff2") format("woff2"),
      url("../fonts/robotobold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src:
      url("../fonts/robotomedium.woff2") format("woff2"),
      url("../fonts/robotomedium.woff") format("woff");
}
      
html,
body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}

.main-header {
	background-color: #eeeeee;
}

.main-navigation {
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
}

.site-navigation {
	list-style: none;
}

.site-navigation a,
.cart a {
	font-weight: 500;
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart a:hover,
.cart a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.cart a:active {
	color: rgba(0, 0, 0, 0.3);
}

.slider {
	background-color: #eeeeee;
}

/*Фон для слайдов. Размеры и отступы потом поправить. Писала примерно*/
.slider-container .slide1 {
	background-image: url("../img/slide1.png");
	background-repeat: no-repeat;
}

.slider-container .slide2 {
	background-image: url("../img/slide2.png");
	background-repeat: no-repeat;
}

.slider-container .slide3 {
	background-image: url("../img/slide3.png");
	background-repeat: no-repeat;
}
/*Конец кода фона для слайдов*/

.slider-slide .slider-text {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider-slide .slider-description {
	font-size: 16px;
	line-height: 24px;

	color: #283136;
}

.button {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;

	background-color: #fb565a;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
}

.service-list {
	list-style: none;
}

.service-item {
	text-align: left;
}

.service-item .service-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.service-item .service-text {
	color: #283136;
}

.service-item .service-order {
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
}

.service-item .order-site {
	background-color: #fb565a;
}

.service-item .order-site:hover,
.service-item .order-site:focus {
	background-color: #e74246;
}

.service-item .order-site:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
}

.service-item .order-application {
	background-color: #00ca74;
	
}

.service-item .order-application:hover,
.service-item .order-application:focus {
	background-color: #00bc6c;
}

.service-item .order-application:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #00aa62;	
}

.service-item .order-presentation {
	background-color: #efc84a;	
}

.service-item .order-presentation:hover,
.service-item .order-presentation:focus {
	background-color: #eab534;
}

.service-item .order-presentation:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #e5a722;
}

.about-features .about-features-text {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
}

.about-features .about-features-description {
	color: #283136;
}

.about-features .about-features-title {
	font-weight: bold;
	text-transform: uppercase;
}

.about-features .about-features-list {
	list-style: none;
}

.about-features-list .about-features-item {
	color: #283136;
}

.about-content .about-features-title {
	font-weight: bold;
	text-transform: uppercase;
}

.about-table tr:first-child td {
	font-size: 45px;
	font-weight: bold;
}

.about-table tr:last-child td {
	font-size: 18px;
	color: #283136;
}


.customers-list {
	list-style: none;
}

.customers-item {
	opacity: 0.2;
}

.customers-item:hover,
.customers-item:focus {
	opacity: 1;
}

.customers-item:active {
	opacity: 0.1;
}

.main-footer .footer-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

/*Разметка страницы Каталог*/
.catalog-page-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.filter-form fieldset {
	border: none;
}

.filter-form legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.filter-form ul {
	list-style: none;
}

.filter-input + label {
	font: inherit;
	line-height: 20px;
	color: #283136;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #000000;
}

.filter-input:disabled + label {
	color: #283136;
	opacity: 0.3;
}

.filter-form .filter-form-button {
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;

	background-color: #eeeeee;
	border: none;
}

.filter-form .filter-form-button:hover,
.filter-form .filter-form-button:focus {
	background-color: #dfdfdf;
}

.filter-form .filter-form-button:active {
	color: rgba(0, 0, 0, 0.3);

	background-color: #d5d5d5;
}

.catalog-sort ul {
	list-style: none;
}

.catalog-sort p {
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.catalog-sort .sort-cost {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
}

.catalog-sort .sort-type,
.catalog-sort .sort-name {
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
}



/* Скрою, когда задам все стили макету
.product .product-card {
	display: none;
}
*/
.product .product-title a {
	line-height: 30px;
	font-weight: bold;
	color: #000000;
}

.product .product-text {
	line-height: 18px;
	color: #666666;
}

.product img {
	border: 1px solid rgba(0, 1, 1, 0.1);
}

.product img:hover,
.product img:focus {
	border: 1px solid rgba(77, 77, 77, 0.1);
	box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.product-pagination {
	list-style: none;
}

.product-pagination a {
	line-height: 18px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;

	background-color: #eeeeee;
}

.product-pagination a:hover,
.product-pagination a:focus {
	background-color: #dfdfdf;
}

.product-pagination a:active {
	opacity: 0.3;
	background-color: #d5d5d5;
}

.product-pagination .pagination-current {
	color: #000000;

	background-color: #ffffff;
	border: 3px solid #dbdbdb;
}

.product-pagination .pagination-current:hover,
.product-pagination .pagination-current:focus,
.product-pagination .pagination-current:active {
	color: #000000;

	background-color: #ffffff;
	border: 3px solid #dbdbdb;
}
/*Конец кода разметки страницы каталог*/

.main-footer .footer-adress p {
	line-height: 18px;
	color: #666666;
}

.footer-social .footer-social-list {
	list-style: none;
}

.footer-social .footer-social-icon {
	color: #ffffff;
}

.footer-social b {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
}

.tooter-social p {
	line-height: 22px;
	color: #444444;
}

/*Форма "Напишите нам"*/

.modal-contacts-form .modal-contacts-title {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.form-feedback input {
	font: inherit;
	line-height: 18px;
	color: #444444;

	background-color: transparent;
	border: 2px solid #d7dcde;
}

.form-feedback input:hover {
	border: 2px solid #b4b9bb;
}

.form-feedback input:focus {
	border: 2px solid #000000;
}

.form-feedback label {
	font: inherit;
	line-height: 18px;
	font-weight: bold;

	background-color: transparent;
}

.form-feedback textarea {
	font: inherit;
	line-height: 18px;
	color: #444444;

	background-color: transparent;
	border: 2px solid #d7dcde;
}

.form-feedback textarea:hover {
	border: 2px solid #b4b9bb;
}

.form-feedback textarea:focus {
	border: 2px solid #000000;
}

.form-feedback .button {
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	border: none;
}
/*Вопрос: невалидное значение формы, что это за состояние?*/
/*Конец кода формы "Напишите нам*/