@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src:
      url("../fonts/roboto.woff2") format("woff2"),
      url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src:
      url("../fonts/robotobold.woff2") format("woff2"),
      url("../fonts/robotobold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src:
      url("../fonts/robotomedium.woff2") format("woff2"),
      url("../fonts/robotomedium.woff") format("woff");
}
      
html,
body {
	min-width: 1440px;
	min-height: 2476px;
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hedden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.main-header {
	padding-top: 50px;
	padding-bottom: 18px;

	background-color: #eeeeee;	
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.main-navigation {
	display: flex;

	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
}

.main-header-logo {
	width: 160px;
	height: 65px;
}

.main-header-logo:hover,
.main-header-logo:focus {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	margin-left: 175px;
	width: 500px;

	list-style: none;
}

.site-navigation a,
.cart a {
	display: block;
	margin-right: 45px;
	padding-top: 25px;
	padding-bottom: 13px;
	font-weight: 500;
	color: #000000;
}

.cart {
	display: flex;
	margin: 0;
	padding: 0;
	margin-left: auto;
	max-width: 160px;
}

.cart a {
	position: relative;
	padding-left: 85px;
	margin-right: 0;
}

.cart a::before {
	content: "";

	position: absolute;
	top: 31px;
	left: 45px;
	width: 17px;
	height: 19px;

	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart a:hover,
.cart a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.cart a:active {
	color: rgba(0, 0, 0, 0.3);
}

.slider {
  position: relative;
  
  background-color: #eeeeee;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.service {
	padding-top: 80px;
	padding-bottom: 80px;
	border-bottom: 2px solid #eeeeee;
}

.service-list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.service-item {
	flex-shrink: 0;

	width: 300px;	
	margin-right: 100px;

	text-align: left;
}

.servece-item:last-child {
	margin-right: 0;
}

.service-item .service-img {
	margin-bottom: 30px;
}

.service-item .service-title {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.service-item .service-text {
	margin-bottom: 35px;
	color: #283136;
}

.service-item .button {
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
}

.service-item .button-site {
	width: 160px;
	background-color: #fb565a;
}

.service-item .button-site:hover,
.service-item .button-site:focus {
	background-color: #e74246;
}

.service-item .button-site:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
}

.service-item .button-application {
	width: 160px;
	background-color: #00ca74;
	
}

.service-item .button-application:hover,
.service-item .button-application:focus {
	background-color: #00bc6c;
}

.service-item .button-application:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #00aa62;	
}

.service-item .button-presentation {
	width: 160px;
	background-color: #efc84a;	
}

.service-item .button-presentation:hover,
.service-item .button-presentation:focus {
	background-color: #eab534;
}

.service-item .button-presentation:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #e5a722;
}


.about {	
	padding-top: 40px;
	padding-bottom: 75px;

	border-bottom: 2px solid #eeeeee;
}

.about-wrapper {
	display: flex;
	justify-content: space-between;
}

.about-features {
	width: 660px;
}

.about-features .about-features-text {
	margin: 0;
	padding: 0;
	margin-top: 40px;
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
}

.about-features .about-features-description {
	margin-bottom: 40px;
	color: #283136;
}

.about-features .about-features-title {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.about-features .about-features-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.about-features-list .about-features-item {
	position: relative;
	padding-left: 38px;
	margin-bottom: 30px;
	
	color: #283136;
}

.about-features-list .about-features-item::before {
	position: absolute;
	content: "";
	top: 10px;
	left: 0px;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
}

.about-content {
	width: 400px;
}

.about-content-logo {
	margin-bottom: 37px;
}


.about-content .about-features-title {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.about-table {
	text-align: left;
}

.about-table td {
	padding: 10px 0;
}

.about-table tr:first-child td {
	font-size: 45px;
	font-weight: bold;
}

.about-table tr:last-child td {
	font-size: 18px;
	color: #283136;
}

.customers {
	padding: 45px 0;

	border-bottom: 2px solid #eeeeee;
}

.customers-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;

	list-style: none;
}

.customers-logo {
	position: relative;
	width: 209px;
	height: 90px;
	padding: 0 25px;
}
/*ВОПРОС: Как правильно прописать селектор, чтобы убрать псевдоэлемент у последнего лого?*/
.customers-logo::after {
	content: "";
	position: absolute;
	top: 20px;
	right: 277px;
	width: 2px;
	height: 52px;
	background-color: #eeeeee;
}

.customers-item {
	opacity: 0.2;
}

.customers-item:hover,
.customers-item:focus {
	opacity: 1;
}

.customers-item:active {
	opacity: 0.1;
}



/*Разметка страницы Каталог*/
.catalog-page-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	text-align: center;

	background-color: #eeeeee;
}

/*Разметка сложной формы по скринкасту*/
.filter-item {
  margin: 0;
  padding: 0;
  
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

/*Конец кода сложной формы по скринкасту*/

.filter-form legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.filter-form ul {
	list-style: none;
}

.filter-input + label {
	font: inherit;
	line-height: 20px;
	color: #283136;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #000000;
}

.filter-input:disabled + label {
	color: #283136;
	opacity: 0.3;
}

.filter-form .filter-form-button {
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;

	background-color: #eeeeee;
	border: none;
}

.filter-form .filter-form-button:hover,
.filter-form .filter-form-button:focus {
	background-color: #dfdfdf;
}

.filter-form .filter-form-button:active {
	color: rgba(0, 0, 0, 0.3);

	background-color: #d5d5d5;
}

.catalog-sort ul {
	list-style: none;
}

.catalog-sort p {
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.catalog-sort .sort-cost {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
}

.catalog-sort .sort-type,
.catalog-sort .sort-name {
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
}



/* Скрою, когда задам все стили макету
.product .product-card {
	display: none;
}
*/
.product-title a {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
}

.product .product-text {
	line-height: 18px;
	color: #666666;
}

.product img {
	border: 1px solid rgba(0, 1, 1, 0.1);
}

.product img:hover,
.product img:focus {
	border: 1px solid rgba(77, 77, 77, 0.1);
	box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.product-pagination {
	list-style: none;
}

.product-pagination a {
	line-height: 18px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;

	background-color: #eeeeee;
}

.product-pagination a:hover,
.product-pagination a:focus {
	background-color: #dfdfdf;
}

.product-pagination a:active {
	opacity: 0.3;
	background-color: #d5d5d5;
}

.product-pagination .pagination-current {
	color: #000000;

	background-color: #ffffff;
	border: 3px solid #dbdbdb;
}

.product-pagination .pagination-current:hover,
.product-pagination .pagination-current:focus,
.product-pagination .pagination-current:active {
	color: #000000;

	background-color: #ffffff;
	border: 3px solid #dbdbdb;
}
/*Конец кода разметки страницы каталог*/


/*Footer*/

.main-footer {
	margin-top: 80px;
}

.footer-wrapper {
	position: relative;
}

.footer-container {
	position: absolute;
	top: 0;
	left: 250px;
}

.footer-inner {
	margin-top: 0;
}

.footer-map {
	width: 1440px;
	height: 416px;
	margin: 0 auto;
}

.main-footer .footer-contacts {
	padding: 54px 0;
}


.footer-contacts .footer-adress {
	width: 220px;
	padding: 50px;
	background-color: #ffffff;
}

.footer-adress .footer-title {
	margin: 0;
	padding: 0;
	margin-bottom: 27px;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.footer-adress p {
	line-height: 18px;
	color: #666666;
}

.footer-adress .footer-phone {
	margin-bottom: 40px;
}

.footer-button-form {
	width: 220px;
}

.social-container {
	display: flex;
	justify-content: space-between;
	padding: 70px 20px;
}

.footer-social-wrapper {
	width: 760px;
}

.footer-social-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 260px;

	list-style: none;
	margin: 0;
	padding: 0;
	order: -1;
}

.footer-social-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;

	background-color: #e1e1e1;
	border-radius: 50%;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
	background-color: #e74246;
}

.footer-social-icon:active {
	background-color: #d7373b;
}

/*ВОПРОС: при нажатии на иконку значки становятся прозрачными - 0.3 чему прописывать opacity?*/
.footer-social-icon:active path {
	fill: #d7373b;
	box-shadow: 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.footer-social-wrapper b {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
}

.footer-social-wrapper p {
	margin: 0;
	padding: 0;
	line-height: 22px;
	color: #444444;
}

/*Footer end code*/

/*Форма "Напишите нам"*/

.modal-contacts-form {
	width: 760px;
	padding: 75px 100px 85px 100px;

	background-color: #ffffff;
	box-shadow: 0px 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-contacts-form .modal-contacts-title {
	margin: 0;
	padding: 0;
	margin-bottom: 49px;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.form-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.form-container .form-item {
	width: 326px;
	margin: 0;
	padding: 0;
}

.form-feedback input {
	
	padding: 15px;
	margin-bottom: 34px;
	font: inherit;
	line-height: 18px;
	color: rgba(68, 68, 68, 0.5);

	background-color: transparent;
	border: 2px solid #d7dcde;
}

.form-feedback input:hover {
	border: 2px solid #b4b9bb;
}

.form-feedback input:focus {
	border: 2px solid #000000;
}

.form-feedback input:disabled {
	color: #e74246;

	border: 2px solid #e74246;
}

.form-feedback label {
	display: block;
	margin-bottom: 13px;
	font: inherit;
	line-height: 18px;
	font-weight: bold;

	background-color: transparent;
}

.form-feedback textarea {
	width: 100%;
	padding: 15px;
	margin-bottom: 45px;
	font: inherit;
	line-height: 18px;
	color: rgba(68, 68, 68, 0.5);

	background-color: transparent;
	border: 2px solid #d7dcde;
	box-sizing: border-box;
}

.form-feedback textarea:hover {
	border: 2px solid #b4b9bb;
}

.form-feedback textarea:focus {
	border: 2px solid #000000;
}

.form-feedback .button {
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	border: none;
}

















/*Стили для внутренней страницы основное содержимое*/


.catalog-page-title {
	margin: 0;
	padding: 0;
	padding-top: 63px;
	padding-bottom: 110px;

	/*Временно для сетки*/
	outline: 2px solid red;
}

.inner-page-wrapper {
	display: flex;
	justify-content: space-between;
	padding-top: 59px;
	padding-bottom: 60px;

	/*Временно для сетки*/
	outline: 2px solid red;
	min-height: 2101px;
}

.inner-page-wrapper .catalog-filters {
	width: 300px;

	/*Временно для сетки*/
	outline: 2px solid green;
	min-height: 800px;
}

.inner-page-wrapper .catalog {
	width: 760px;

	/*Временно для сетки*/
	outline: 2px solid green;
	
}

.catalog .catalog-sort {
	margin-bottom: 55px;
	/*Временно для сетки*/
	min-height: 18px;
	outline: 2px solid yellow;
}

.catalog-products-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;

	margin-bottom: 60px;
	/*Временно для сетки*/
	min-height: 1915px;
}

/*ВОПРОС: Когда добавила содержимое в разметку сетки, отступы снизу (35 пикселей, которые фактически не задавала, а сделала распределение по поперечной оси и падинги контейнеру) пропали. Это из-за того, что задана минимальная ширина и в разметке появилось описание товара (им не хватает места, когда их скрою все встанет на свои места) или у меня ошибка?*/
.catalog-products .product {
	width: 360px;
	/*Временно для сетки*/
	min-height: 615px;
	outline: 2px solid black;
}

.catalog-products .product-pagination {
	padding: 0;
	margin: 0;

	list-style: none;

	/*Временно для сетки*/
	min-height: 50px;
	outline: 2px solid black;
}





